<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780491974200-15i4tjh73rmanavbdjmfifob278vjbdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780491974200-15i4tjh73rmanavbdjmfifob278vjbdb</string>
	<key>API_KEY</key>
	<string>AIzaSyCjO0P0zJIVW_0YBSD5qgspnkHppqPyNz4</string>
	<key>GCM_SENDER_ID</key>
	<string>780491974200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>garden.com.edenGarden</string>
	<key>PROJECT_ID</key>
	<string>eden-garden-bcf0f</string>
	<key>STORAGE_BUCKET</key>
	<string>eden-garden-bcf0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780491974200:ios:50ae5abc3f3c7bbf82a8cd</string>
</dict>
</plist>